/* --- MOBILE FIRST DESIGN --- */
/* --- GLOBAL STYLING */
:root {
  --base: #1d272d;
  --light: #E7E5DF;
  --medium: #b3afa9;
  --dark: #183547;
  --highlight1: #44BBA4;
  --highlight2: #E7BB41;
  --border-radius: 7px;
}

#app {
  min-width: 320px;
  min-height: 100vh;
  color: var(--light);
  background-color: var(--base);
}

hr {
  width: 100px;
  border: 0.5px solid var(--medium);
}

.wrapper,
.full-width {
  width: 100%;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* --- Header component --- */
#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  transition: all 0.5s linear;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 0.5rem 0;
}

#logo h1:hover {
  text-shadow: 0px 0px 10px var(--highlight2);
  transition: all 0.2s ease-in-out;
}

#logo h1 span {
  color: var(--highlight2);
}

#header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-nav-ul {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

#header-nav-ul li {
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#header-nav-ul li:hover {
  color: var(--highlight2);
}

/* --- Main component --- */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-section {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  transition: all 0.5s linear;
}

.main-content-section-header {
  font-weight: 700;
  margin-bottom: 1rem;
}

.main-content-section p {
  color: var(--medium);
}

/* --- Intro component --- */
#intro-section {
  width: 290px;
  display: flex;
  align-items: space-between;
}

.intro-section-column:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.intro-section-column:nth-of-type(1) p {
  width: 100%;
}

#intro-greeting {
  color: var(--highlight1);
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

#intro-name {
  color: var(--light);
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.intro-position {
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

.intro-section-column:nth-of-type(2) {
  display: flex;
  justify-items: center;
  align-items: center;
}

#intro-img {
  width: 80px;
}

/* --- AboutMe component --- */
#about-me-section ul {
  font-size: 80%;
  list-style: circle;
  padding: 0 0 0 1rem;
}

#about-me-section li {
  margin: 5px 0px;
}

#about-me-section span {
  color: var(--highlight1);
}

/* --- Work component --- */
.work-card {
  width: 100%;
  height: fit-content;
  background-color: var(--dark);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem;
  transition: all 0.5s linear;
}

.work-card:hover {
  box-shadow: 0px 0px 10px var(--highlight1);
}

.work-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.work-title {
  color: var(--highlight2);
  font-weight: 700;
}

.work-link {
  color: var(--highlight1);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-link .link:hover {
  text-decoration: underline;
}

.work-link span {
  margin: 0 0.5rem;
}

.work-card-body {
  width: 100%;
}

.work-tech-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  padding: 0;
  gap: 0.5rem;
}

.work-tech-list li {
  color: var(--base);
  background-color: var(--highlight1);
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0.5rem;
}

.work-img {
  width: 100%;
}

.work-img img {
  width: 100%;
}