/* --- MOBILE FIRST DESIGN --- */
/* --- GLOBAL STYLING */
:root {
  --base: #1d272d;
  --light: #E7E5DF;
  --medium: #b3afa9;
  --dark: #183547;
  --highlight1: #44BBA4;
  --highlight2: #E7BB41;
  --border-radius: 7px;
}

#app {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  color: var(--light);
  background-color: var(--base);
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 100px;
  border: 0.5px solid var(--medium);
}

/* --- Header component --- */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  transition: all 0.5s linear;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 0.5rem 0;
}

#logo h1:hover {
  text-shadow: 0px 0px 10px var(--highlight2);
  transition: all 0.1s ease-in-out;
}

#logo h1 span {
  color: var(--highlight2);
}

#header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-nav-ul {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

#header-nav-ul li {
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#header-nav-ul li .link:hover {
  color: var(--highlight2);
}

/* --- Main component --- */
.main-content-section {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s linear;
  margin: 0;
  padding: 1rem;
}

.main-content-section-header {
  font-weight: 700;
  margin-bottom: 1rem;
}

.main-content-section-body {
  display: flex;
  flex-direction: column;
}

.main-content-section-body p {
  color: var(--medium);
}

/* --- AboutMe component --- */
#about-me-section {
  max-width: 290px;
  margin: 0 auto;
}

#about-me-section .main-content-section-body-row:first-of-type {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-img {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

#intro-img img {
  width: 100px;
  margin: 0 auto;
}

#intro-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

#intro-content p {
  width: 100%;
}

#intro-greeting {
  color: var(--highlight1);
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

#intro-name {
  color: var(--light);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.intro-position {
  font-size: 1.3rem;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

#about-me-section span {
  color: var(--highlight1);
}

/* --- Portfolio component --- */
.portfolio-card {
  width: 100%;
  height: fit-content;
  background-color: var(--dark);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem;
  transition: all 0.5s linear;
}

.portfolio-card:hover {
  box-shadow: 0px 0px 10px var(--highlight1);
}

.portfolio-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-title {
  color: var(--highlight2);
  font-weight: 700;
}

.portfolio-link {
  color: var(--highlight1);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-link .link:hover {
  text-decoration: underline;
}

.portfolio-link span {
  margin: 0 0.5rem;
}

.portfolio-card-body {
  width: 100%;
}

.portfolio-tech-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  padding: 0;
  gap: 0.5rem;
}

.portfolio-tech-list li {
  color: var(--base);
  background-color: var(--highlight1);
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0.5rem;
}

.portfolio-img {
  width: 100%;
}

.portfolio-img img {
  width: 100%;
}

/* --- Contact component --- */
#contact-section .main-content-section-body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

#email-form {
  max-width: 290px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  font-size: 0.8rem !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.8rem !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.8rem !important;
}

.error-message {
  font-size: 0.8rem;
  color: var(--highlight1);
}

#form-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#send-message-button {
  width: 40%;
  color: var(--highlight2);
  background-color: unset;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--highlight2);
  border-radius: var(--border-radius);
  padding: 0.5rem 2rem;
}

#send-message-button:hover {
  box-shadow: 0px 0px 10px var(--highlight2);
  transition: all 0.1s ease-in-out;
}

/* --- Resume component --- */
#resume-section {
  width: 100%;
  margin: 0 auto;
}

#resume-section p {
  margin: 0.5rem 0;
  padding: 0;
}

#resume-download-btn {
  color: var(--highlight2);
}

#resume-download-btn:hover {
  text-decoration: underline;
}

#resume-section ul {
  font-size: 80%;
  list-style: circle;
  padding: 0 0 0 1rem;
}

#resume-section li {
  margin: 5px 0px;
}

#resume-section ul span {
  color: var(--highlight1);
}

/* --- Footer component --- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-row {
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
}

footer i {
  font-size: 1.5rem;
}

footer i:hover {
  color: var(--highlight2);
}

.footer-row:last-of-type {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--medium);
  padding-bottom: 1rem;
}