/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1;
  font-family: sans-serif;
}

header,
main,
footer {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  margin: 0;
  padding: 0;
}

.link:link,
.link:visited,
.link:hover,
.link:active {
  width: 100%;
  color: unset;
  text-decoration: none;
}

form {
  width: 100%;
}

/* GLOBAL STYLING */
:root {
  --base: #1d272d;
  --light: #E7E5DF;
  --medium: #b3afa9;
  --dark: #183547;
  --highlight1: #44BBA4;
  --highlight2: #E7BB41;
  --border-radius: 7px;
}

body {
  height: 100%;
  color: var(--medium);
  background-color: var(--base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

.h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

hr {
  width: 100px;
  margin: 50px auto;
  border: 0.5px solid var(--medium);
}